<!-- protected_view.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://f005.backblazeb2.com/file/CyberMedia/Style/img/med-lg+(1).png" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected View</title>
</head>
<body>
    <h1>Welcome to the protected view!</h1>
    <p>This content is protected and can only be accessed with a valid access code.</p>
</body>
</html>
